<html>
<head>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(
            function () {
                $.getJSON("http://localhost:8080/products", function (result) {
                    $.each(result, function (key, value) {
                        $("#productJSON").append("", value.id + " " + value.name + " ");
                    });
                });
            })
    </script>
</head>
<body>
    <div id="productJSON"></div>
</body>
</html>